<!DOCTYPE html>
<html lang="en">

<head>
  <title>Decision Maker - Poll Results</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Acme&family=Righteous&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="stylesheet" href="/styles/footer.css" />
  <link rel="stylesheet" href="/styles/result.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/client.js"></script>


  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<body>
  <nav>
    <span id="title">Decision Maker</span>
    <div class="subtext">
      <span>Create a New Poll</span>
    </div>
  </nav>
  <main class="container">

    <h2>Poll Results</h2>
    <h3>
      <%= pollObj.title %>
    </h3>

    <div class="winner">
      <p>The winner is: <%= winner.choice %></p>
    </div>

    <div id="chart-container">
      <canvas id="myChart"></canvas>
    </div>

    <p>Results were calculated using the <a href="https://en.wikipedia.org/wiki/Borda_count">Borda Count</a> method</p>

    <script>
      const ctx = document.getElementById('myChart');
      let choice1 = '<%= pollObj.choice_1 %>';
      let choice2 = '<%= pollObj.choice_2 %>';
      let choice3 = '<%= pollObj.choice_3 %>';
      let total1 = '<%= result[0].total_choice_1 %>';
      let total2 = '<%= result[0].total_choice_2 %>';
      let total3 = '<%= result[0].total_choice_3 %>';
      new Chart(ctx, {
        type: 'bar',
        data: {
          labels: [choice1, choice2, choice3],
          datasets: [{
            label: 'Points',
            data: [total1, total2, total3],
            borderWidth: 1
          }]
        },
        options: {
          indexAxis: 'y',
          elements: {
            bar: {
              borderWidth: 2,
            }
          },
          responsive: true,
          scales: {
            y: {
              beginAtZero: true,
              stepSize: 1
            }
          },
        }
      });

    </script>


  </main>

  <footer>
    <button form="start-again" class="button" type="submit" id="start-again"><a href="http://localhost:8080/polls">START
        AGAIN</a></button>
  </footer>

</body>

</html>
