<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/_head') %>
  <title>Pollify - Vote</title>
  <link rel="stylesheet" href="/styles/vote.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"
    integrity="sha512-57oZ/vW8ANMjR/KQ6Be9v/+/h6bq9/l3f0Oc7vn6qMqyhvPd1cvKBRWWpzu0QoneImqr2SkmO4MSqU+RpHom3Q=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="text/javascript" src="/scripts/vote.js"></script>
</head>

<body>
  <nav>
    <span id="title">Decision Maker</span>
    <div class="subtext">
      <span>Create a New Poll</span>
    </div>
  </nav>

  <main class="container">
    <form method="POST" action="/polls/<%= data[0].id %>/vote" id="ordered-choices">
      <input type="hidden" name="poll-id" id="poll-id" value="<%= data[0].id %>" />
      <section class="poll-header">
        <h2>
          <%= data[0].title %>
        </h2>
        <% if (data[0].description) { %>
        <p><%= data[0].description %></p>
        <% } %>
        <p class="arrow-instruction">Use the arrow buttons to re-arrange the choices from most preferred at the top to least preferred at the bottom</p>
        <p class="drag-instruction">Drag the choices with the mouse and drop them in order from most preferred at the top to least preferred at the bottom</p>
        <button type="button" id="toggle-buttons">Use buttons instead</button>
      </section>
      <div class="choices">
        <section class="ranking-labels">
          <p>First choice:</p>
          <p>Second choice:</p>
          <p>Third choice:</p>
        </section>
        <section class="sortable">
          <span id="rank-one">
            <div class="choice" id="choice-one">
              <p>
                <%= data[0].choice_1 %>
              </p>
            </div>
          </span>
          <span id="rank-two">
            <div class="choice" id="choice-two">
              <p>
                <%= data[0].choice_2 %>
              </p>
            </div>
          </span>
          <span id="rank-three">
            <div class="choice" id="choice-three">
              <p>
                <%= data[0].choice_3 %>
              </p>
            </div>
          </span>
        </section>
        <section class="ranking-buttons">
          <span class="move-1">
            <button type="button"><i class="fa-solid fa-arrow-down"></i></button>
          </span>
          <span>
            <span class="move-2">
              <button type="button"><i class="fa-solid fa-arrow-up"></i></button>
            </span>
            <span class="move-3">
              <button type="button"><i class="fa-solid fa-arrow-down"></i></button>
            </span>
          </span>
          <span class="move-4">
            <button type="button"><i class="fa-solid fa-arrow-up"></i></button>
          </span>
        </section>
      </div>
      <input type="hidden" name="choicesRanked" id="choicesRanked" value="choice-one,choice-two,choice-three" />
      <% if(data[0].require_name ==='on' ){ %>
      <div>
        <label for="voter_name">Enter name: </label>
        <input name="voter_name" id="voter_name" type="text" required></input>
      </div>
      <% } %>
    </form>


  </main>

  <footer>
    <button form="ordered-choices" class="button" type="submit">VOTE</button>
  </footer>

</body>

</html>
