<!DOCTYPE html>
<html lang="en">

<head>
  <title>Decision Maker - Vote</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Acme&family=Righteous&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="stylesheet" href="/styles/footer.css" />
  <link rel="stylesheet" href="/styles/vote.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"
    integrity="sha512-57oZ/vW8ANMjR/KQ6Be9v/+/h6bq9/l3f0Oc7vn6qMqyhvPd1cvKBRWWpzu0QoneImqr2SkmO4MSqU+RpHom3Q=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script defer src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/vote.js"></script>
</head>

<body>
  <nav>
    <span id="title">Decision Maker</span>
    <div class="subtext">
      <span>Create a New Poll</span>
    </div>
  </nav>

  <main class="container">
    <form method="POST" action="/polls/<%= data[0].id %>/vote" id="ordered-choices">
      <input type="hidden" name="poll-id" id="poll-id" value="<%= data[0].id %>" />
      <section class="poll-header">
        <h2>
          <%= data[0].title %>
        </h2>
      </section>
      <section class="choices">
        <div class="choice" id="choice-one">
          <p>
            <%= data[0].choice_1 %>
          </p>
        </div>
        <div class="choice" id="choice-two">
          <p>
            <%= data[0].choice_2 %>
          </p>
        </div>
        <div class="choice" id="choice-three">
          <p>
            <%= data[0].choice_3 %>
          </p>
        </div>
      </section>
      <input type="hidden" name="choicesRanked" id="choicesRanked" value="choice-one,choice-two,choice-three" />
    </form>
    <% if(data[0].require_name='on' ){ %>
      <div>
        <label for="voter_name">Enter name: </label>
        <input name="voter_name" id="voter_name" type="text" required></input>
      </div>
      <% } %>
  </main>

  <footer>
    <button form="ordered-choices" class="button" type="submit">VOTE</button>
  </footer>

</body>

</html>
